<h2><%= @information.job.name %></h2>
<table>
	<tbody>
		<tr>
			<td><%= @information.salary %></td>
			<td><%= @information.experience %></td>
			<td><%= @information.type.name %></td>
		</tr>
		<tr>
			<td><%= @information.company %></td>
			<td><%= @information.position %></td>
			<td><%= @information.release_time.strftime("%F") %></td>
		</tr>
	</tbody>
</table>
<p>岗位描述：</p>
<div>
	<%= sanitize @information.requirement, tags: %w(div dl dt dd ul ol li h1 h2 h3 h4 h5 h6 pre code p blockquote a span strong em table tbody tr td caption th del ins u ul ol li), attributes: %w(style cellpadding cellspacing start) %>
</div>
<p>联系方式：<%= @information.contact %></p>
<p><%= link_to '阅读原文', @information.link %></p>